<!DOCTYPE html>
<html lang="en">

<head>
    <title>List of customers</title>
    <th:block th:replace="layout/head" />
</head>

<body>
<div class="container-fluid">
    <header>
        <nav class="navbar bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand">List of customers</a>
                <div class="d-flex" style="gap: 10px;">
                    <button class="btn btn-outline-light" type="button">
                        <i class="fas fa-history"></i>
                        Transfer histories
                    </button>
                    <button type="button" class="btn btn-outline-light" data-bs-toggle="modal"
                            data-bs-target="#modalCreate">
                        <i class="far fa-plus-square"></i>
                        Add new customer
                    </button>
                </div>
            </div>
        </nav>
    </header>

    <div class="content">
        <table id="tbCustomer" class="table table-hover">
            <thead>
            <tr>
                <th></th>
                <th>#</th>
                <th>FullName</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Province</th>
                <th>District</th>
                <th>Ward</th>
                <th>Address</th>
                <th>Balance</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>

    <footer>

    </footer>
</div>

<div id="loading" class="sk-chase hide">
    <div class="sk-chase-dot"></div>
    <div class="sk-chase-dot"></div>
    <div class="sk-chase-dot"></div>
    <div class="sk-chase-dot"></div>
    <div class="sk-chase-dot"></div>
    <div class="sk-chase-dot"></div>
</div>


<div class="toast-container position-fixed bottom-0 end-0 p-3">
    <div id="liveToast" class="toast align-items-center text-bg-primary border-0" role="alert" aria-live="assertive"
         aria-atomic="true">
        <div class="d-flex">
            <div id="toast-body" class="toast-body">
            </div>
            <button type="button" id="btnCloseToast" class="btn-close btn-close-white me-2 m-auto"
                    data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
    </div>
</div>
<!-- Modal Create -->
<th:block th:replace="customer/modalCreate" />

<!-- Modal Update -->
<th:block th:replace="customer/modalUpdate" />

<!-- Modal Transfer -->
<th:block th:replace="customer/modalTransfer" />
<script>
    let customerId = 0;
    //general Management
    const page = {
        url: {

        },
        elements :{

        },
        loadData: {

        },
        commands: {

        }
    }
    page.elements.tbCustomer = $('#tbCustomer tbody');

    page.elements.modalCreate = $('#modalCreate');
    page.elements.frmCreate = $('#frmCreate');
    page.elements.fullNameCre = $('#fullNameCre');
    page.elements.emailCre = $('#emailCre');
    page.elements.phoneCre = $('#phoneCre');
    page.elements.provinceCre = $('#provinceCre');
    page.elements.districtCre = $('#districtCre');
    page.elements.wardCre = $('#wardCre');
    page.elements.addressCre = $('#addressCre');
    page.elements.btnCreate = $('#btnCreate');
    page.elements.toastBody = $('#toastBody');
    page.elements.btnCloseToast = $('#btnCloseToast');

    page.elements.modalUpdate = $('#modalUpdate');
    page.elements.frmUpdate = $('#frmUpdate');
    page.elements.fullNameUp = $('#fullNameUp');
    page.elements.emailUp = $('#emailUp');
    page.elements.phoneUp = $('#phoneUp');
    page.elements.provinceUp = $('#provinceUp');
    page.elements.districtUp = $('#districtUp');
    page.elements.wardUp = $('#wardUp');
    page.elements.addressUp = $('#addressUp');
    page.elements.btnUpdate = $('#btnUpdate');


    page.elements.modalTransfer = $('#modalTransfer');
    page.elements.frmTransfer = $('#frmTransfer');
    page.elements.senderNameTrf = $('#senderNameTrf');
    page.elements.senderPhoneTrf = $('#senderPhoneTrf');
    page.elements.senderBalanceTrf = $('#senderBalanceTrf');
    page.elements.recipientTrf = $('#recipientTrf');
    page.elements.btnTransfer = $('#btnTransfer');

    page.elements.loading = $('#loading');
    page.elements.footer = $('footer')

    page.elements.toastLive = $('#liveToast')
    page.elements.toastBody = $('#toast-body')


    //call API to get allCustomers
    fetchALlPerson = async () =>{
        return await $.ajax({
            url: "http://localhost:8080/api/customers"
        });
    }
    //render each customer
    renderPeron = (obj) => {
        return `
                <tr id="tr_${obj.id}">
                    <td><span></span></td>
                    <td>${obj.id}</td>
                    <td>${obj.fullName}</td>
                    <td>${obj.email}</td>
                    <td>${obj.phone}</td>
                    <td>${obj.locationRegion.provinceName}</td>
                    <td>${obj.locationRegion.districtName}</td>
                    <td>${obj.locationRegion.wardName}</td>
                    <td>${obj.locationRegion.address}</td>
                    <td>${obj.balance}</td>
                </tr>
            `
    }
    page.commands.handleClickRow = () => {
        $('#tbCustomer tbody').on('click', 'tr td', function () {
            $('#tbCustomer tbody tr td span').removeClass('selected')
            customerId = $(this).parent().attr('id').replace('tr_', '')

            const elem = $(this).parent().find('td')[0]

            const span = $(elem).find('span')
            $(span).addClass('selected')

            const str = page.commands.renderFooter()
            page.elements.footer.html(str)

            page.commands.handleClickEditButton() //gắn sự kiện cho nút update
            page.commands.handleClickTransferButton() //gắn sự kiện cho nít transfer
        })
    }
    page.commands.handleClickEditButton = () => {
        $('footer button.edit').on('click', async () => {
            const customer = await page.loadData.getCustomerById();

            console.log(customer)

            page.elements.fullNameUp.val(customer.fullName)
            page.elements.emailUp.val(customer.email)
            page.elements.phoneUp.val(customer.phone)
            page.elements.addressUp.val(customer.locationRegion.address)
            page.elements.provinceUp.val(customer.locationRegion.provinceId)

            await page.commands.getAllDistricts(customer.locationRegion.provinceId, page.elements.districtUp)

            await page.commands.getAllWards(customer.locationRegion.districtId, page.elements.wardUp)

            page.elements.modalUpdate.modal('show');
        })
    }
    page.loadData.getCustomerById = async () => {
        return await $.ajax({
            url: "http://localhost:8080/api/customers/" + customerId,
        })
    }
    page.commands.getAllRecipientsWithOutId = async (customerId) => {
        return await $.ajax({
            url: page.url.getAllRecipientsWithOutId + customerId
        })
    }

    page.commands.handleClickTransferButton = () => {

        $('footer button.transfer').on('click', async () => {

            const customer = await page.loadData.getCustomerById();

            const recipients = await page.commands.getAllRecipientsWithOutId(customer.id);

            page.elements.senderNameTrf.val(customer.fullName)
            page.elements.senderPhoneTrf.val(customer.phone)
            page.elements.senderBalanceTrf.val(customer.balance)

            $.each(recipients, (index, item) => {
                const str = page.commands.renderRecipient(item)
                page.elements.recipientTrf.append(str)
            })

            page.elements.modalTransfer.modal('show');
        })
    }
    page.commands.renderRecipient = (obj) => {
        return `<option value="${obj.id}">${'(' + obj.id + ') - ' + obj.fullName}</option>`
    }


    page.commands.renderFooter = () => {
        return `
                <button class="btn btn-secondary edit">
                    <i class="far fa-edit"></i>
                    Update
                </button>
                <button class="btn btn-success deposit">
                    <i class="fas fa-plus"></i>
                    Deposit
                </button>
                <button class="btn btn-warning">
                    <i class="fas fa-minus"></i>
                    Withdraw
                </button>
                <button class="btn btn-primary transfer">
                    <i class="fas fa-exchange-alt"></i>
                    Transfer
                </button>
                <button class="btn btn-danger">
                    <i class="fas fa-ban"></i>
                    Inactive
                </button>
            `
    }
    //showFrom createCustomer
    page.elements.modalCreate.on('hidden.bs.modal', () => {
        $('#modalCreate .area-error').empty().addClass('hide');
        $('#frmCreate').trigger('reset')
        $('#frmCreate input').removeClass('error')
        $('#frmCreate label.error').remove()
    })
    page.elements.modalUpdate.on('hidden.bs.modal', () => {
        $('#modalUpdate .area-error').empty().addClass('hide');
        page.elements.frmUpdate.trigger('reset')
        $('#frmUpdate input').removeClass('error')
        $('#frmUpdate label.error').remove()
    })
    page.elements.frmCreate.validate({
        onkeyup: function (element){$(element).valid()},
        onclick: false,
        onfocus: false,
        rules: {
            fullNameCre: {
                required: true
            },
            addressCre: {
                required: true
            },
            emailCre: {
                required: true
            }
        },
        messages: {
            fullNameCre: {
                required: 'FullName là bắt buộc'
            },
            addressCre: {
                required: 'Bạn phải nhập địa chỉ'
            },
            emailCre: {
                required: 'Bạn cần nhập email'
            }
        },
        errorLabelContainer: "#modalCreate .area-error",
        errorPlacement: function (error, element) {
            error.appendTo("#modalCreate .area-error");
        },
        showErrors: function(errorMap, errorList) {
            if (this.numberOfInvalids() > 0) {
                $("#modalCreate .area-error").removeClass("hide").addClass("show");
            } else {
                $("#modalCreate .area-error").removeClass("show").addClass("hide").empty();
                $("#frmCreate input.error").removeClass("error");
            }
            this.defaultShowErrors();
        },
        submitHandler: () => {
            page.commands.createCustomer()
        }
    })
    //submit Form Create
    page.elements.btnCreate.on('click', async () => {
        page.elements.frmCreate.trigger('submit')
    })

    page.commands.createCustomer = () => {
        const fullName = page.elements.fullNameCre.val()
        const email = page.elements.emailCre.val()
        const phone = page.elements.phoneCre.val()
        const provinceName = page.elements.provinceCre.find('option:selected').text()
        const districtName = page.elements.districtCre.find('option:selected').text()
        const wardName = page.elements.wardCre.find('option:selected').text()
        const provinceId = page.elements.provinceCre.val()
        const districtId = page.elements.districtCre.val()
        const wardId = page.elements.wardCre.val()
        const address = page.elements.addressCre.val()

        const locationRegionCreReqDTO = {
            provinceId,
            provinceName,
            districtId,
            districtName,
            wardId,
            wardName,
            address
        }

        const customerCreReqDTO = {
            fullName,
            email,
            phone,
            locationRegionCreReqDTO
        }
        page.elements.btnCreate.prop("disabled", true);

        page.elements.loading.removeClass('hide')
         $.ajax({
            url: "http://localhost:8080/api/customers",
            method: 'POST',
            data: JSON.stringify(customerCreReqDTO)
        })
             .done((data) =>{
             const str = renderPeron(data);
             page.elements.tbCustomer.prepend(str);
             page.elements.modalCreate.modal('hide');

             page.elements.toastBody.text('Thêm mới thành công')

             setTimeout(() => {
                 page.elements.btnCloseToast.click()
             }, 2000);
         })
             .fail((err) => {
                 const responseJSON = err.responseJSON

                 if (responseJSON) {
                     let str = '<ul>'
                     $.each(responseJSON, (k, v) => {
                         if (k.includes('.')) {
                             str += `<li><label for="${k.split('.')[1] + 'Cre'}">${v}</label></li>`
                         }
                         else {
                             str += `<li><label for="${k + 'Cre'}">${v}</label></li>`
                         }

                     })

                     str += '</ul>'

                     $('#modalCreate .area-error').append(str).removeClass('hide').css('display', '')
                 }
             })
             .always(() => {
                 page.elements.btnCreate.prop("disabled", false);
                 page.elements.loading.addClass('hide')
             });
    }
    //ShowList
    page.commands.getAllPerson = async () =>{
        const persons = await fetchALlPerson();
        $.each(persons, (index, item) =>{
            const str = renderPeron(item)
            page.elements.tbCustomer.prepend(str);
        });
    }

    //call API to get province
    page.commands.getAllProvinces = async () =>{
        await $.ajax({
            url: 'https://vapi.vnappmob.com/api/province/'
        }).done((data) =>{
            const provinces = data.results;
            $.each(provinces, (index, item) =>{
                const str = `<option value="${item.province_id}">${item.province_name}</option>`
                page.elements.provinceCre.append(str)
            })
        })
    }

    //call API to get district
    page.commands.getAllDistricts = async (provinceId, elem) =>{
        await $.ajax({
            url: 'https://vapi.vnappmob.com/api/province/district/' + provinceId
        }).done((data) => {
            $(elem).empty();
            const districts = data.results;
            $.each(districts, (index, item) =>{
                const str = `<option value="${item.district_id}">${item.district_name}</option>`
                page.elements.districtCre.append(str)
            })
        })
    }

    //call API to get ward
    page.commands.getAllWards = async (districtId, elem) =>{
        await $.ajax({
            url: 'https://vapi.vnappmob.com/api/province/ward/' + districtId
        }).done((data) =>{
            $(elem).empty();
            const wards = data.results;
            $.each(wards, (index, item) =>{
                const str = `<option value="${item.ward_id}">${item.ward_name}</option>`
                page.elements.wardCre.append(str)
            })
        })
    }

    //select province and load districts and ward
    page.elements.provinceCre.on('change', async function(){
        const provinceId = $(this).val();
        await page.commands.getAllDistricts(provinceId, page.elements.districtCre)
        const districtId = page.elements.districtCre.find('option:selected').val()
        await page.commands.getAllWards(districtId, page.elements.wardCre)
    })

    //select districts and load  ward
    page.elements.districtCre.on('change', async function(){
        const districtId = $(this).val()
        await page.commands.getAllWards(districtId, page.elements.wardCre)
    })


    $.ajaxSetup({
        headers: {
            "Content-type": "application/json; charset=UTF-8"
        }
    })

    //main
    $(async () => {
        await page.commands.getAllPerson()
        await page.commands.handleClickRow();
        await page.commands.getAllProvinces()
        const provinceId = page.elements.provinceCre.find('option:selected').val()
        await page.commands.getAllDistricts(provinceId, page.elements.districtCre)
        const districtId = page.elements.districtCre.find('option:selected').val()
        await page.commands.getAllWards(districtId, page.elements.wardCre)
    })
</script>
</body>
</html>
